mat-toolbar {
  gap: 10px;
}

#logo {
  width: 32px;
  height: 32px;
}

.button-spacer {
  width: var(--mat-icon-button-state-layer-size, 40px);
  height: var(--mat-icon-button-state-layer-size, 40px);
}
