<header>
  <mat-toolbar>
    <div id="logo" class="app-logo"></div>
    <span>{{ title }}</span>
    <span class="spacer"></span>

    <a
      mat-icon-button
      matTooltip="World Data"
      [routerLink]="routePaths.WORLD_DATA"
      [ngClass]="{ 'current-route': route === routePaths.WORLD_DATA }">
      <mat-icon>info</mat-icon>
    </a>

    <a
      mat-icon-button
      matTooltip="Map"
      [routerLink]="routePaths.MAP"
      [ngClass]="{ 'current-route': route === routePaths.MAP }">
      <mat-icon>map</mat-icon>
    </a>

    <a
      mat-icon-button
      matTooltip="Player Data"
      [routerLink]="routePaths.PLAYER_DATA"
      [ngClass]="{ 'current-route': route === routePaths.PLAYER_DATA }">
      <mat-icon>people</mat-icon>
    </a>

    <a
      mat-icon-button
      matTooltip="Stats"
      [routerLink]="routePaths.STATS"
      [ngClass]="{ 'current-route': route === routePaths.STATS }">
      <mat-icon>bar_chart</mat-icon>
    </a>

    <a
      mat-icon-button
      matTooltip="Advancements"
      [routerLink]="routePaths.ADVANCEMENTS"
      [ngClass]="{ 'current-route': route === routePaths.ADVANCEMENTS }">
      <mat-icon>workspace_premium</mat-icon>
    </a>

    <div class="button-spacer"></div>

    <button
      mat-icon-button
      (click)="openUploadDialog()"
      matTooltip="Upload World Folder">
      <mat-icon>upload</mat-icon>
    </button>
    <app-toggle-theme></app-toggle-theme>
    <button mat-icon-button (click)="openHelpDialog()" matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>
  </mat-toolbar>
</header>
