<h2 id="dialogTitle" mat-dialog-title>Stats Settings</h2>
<mat-dialog-content id="dialogContent" [formGroup]="formGroup">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Players</mat-label>
    <mat-select formControlName="activeProfiles" multiple>
      @for (profile of profiles.values(); track profile.id) {
        <mat-option [value]="profile.id">{{ profile.username }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Category</mat-label>
    <mat-select formControlName="statsCategory">
      @for (category of statsCategoryOptions; track $index) {
        <mat-option [value]="category.value">{{ category.text }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button
    matButton="filled"
    [mat-dialog-close]="formGroup.getRawValue()"
    [disabled]="formGroup.invalid || !formGroup.dirty">
    Save
  </button>
</mat-dialog-actions>
