<h2 id="dialogTitle" mat-dialog-title>Stats Settings</h2>
<mat-dialog-content id="dialogContent" [formGroup]="formGroup">
  <app-file-input
    label="Select a Stats Folder"
    (filesUploaded)="filesUploaded($event)"></app-file-input>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Players</mat-label>
    <mat-select formControlName="activeProfiles" multiple>
      @for (profile of profiles.values(); track profile.id) {
      <mat-option [value]="profile.id">{{profile.username}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Category</mat-label>
    <mat-select formControlName="statsCategory">
      @for (category of statsCategoryOptions; track $index) {
      <mat-option [value]="category.value">{{category.text}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <a href="https://minecraft.wiki/w/.minecraft#Location" target="_blank"
    >Where are the world saves folders?</a
  >
  <a
    href="https://minecraft.wiki/w/Java_Edition_level_format#Directory_structure"
    target="_blank"
    >Where is the stats folder?</a
  >
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button
    matButton="filled"
    [mat-dialog-close]="getOutputData()"
    [disabled]="formGroup.invalid || (!formGroup.dirty && !files)">
    Save
  </button>
</mat-dialog-actions>
