:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

#editButton {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  background-color: var(--mat-sys-surface);
  z-index: 2;
}

app-no-data {
  justify-self: flex-start;
}
