:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

#editButton {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: var(--mat-sys-surface);
  z-index: 2;
}

app-snbt-object-viewer {
  width: 100%;
  padding: 1rem;
  overflow: auto;
}
