<h2 id="dialogTitle" mat-dialog-title>Map Settings</h2>
<mat-dialog-content id="dialogContent" [formGroup]="formGroup">
  <mat-checkbox formControlName="showCrosshairs">Show Crosshairs</mat-checkbox>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Map Dimension</mat-label>
    <mat-select formControlName="mapDimension">
      @for (dimension of mapDimensionOptions; track $index) {
        <mat-option [value]="dimension.value">{{ dimension.text }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Map Type</mat-label>
    <mat-select formControlName="mapPaletteType">
      @for (blockPalette of blockPaletteOptions; track $index) {
        <mat-option [value]="blockPalette.value">{{
          blockPalette.text
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button
    matButton="filled"
    [mat-dialog-close]="getOutputData()"
    [disabled]="formGroup.invalid || !formGroup.dirty">
    Save
  </button>
</mat-dialog-actions>
