#minecraft-face {
  width: 32px;
  height: 32px;
  position: relative;

  > div {
    position: absolute;
    inset: 0px;
    background-size: 256px auto;
    background-repeat: no-repeat;
    image-rendering: pixelated;
  }

  > div:nth-child(1) {
    background-position: left -32px top -32px;
  }

  > div:nth-child(2) {
    background-position: left -160px top -32px;
  }
}
