<form id="mapForm" class="flex-row">
  @if (regionFilesProcessed) {
  <input
    name="xCoord"
    type="number"
    placeholder="0"
    step="1"
    [(ngModel)]="xCoord"
    (change)="drawMap()" />
  <input
    name="zCoord"
    type="number"
    placeholder="0"
    step="1"
    [(ngModel)]="zCoord"
    (change)="drawMap()" />
  }
  <span class="spacer"></span>
  <button id="editButton" matIconButton type="button" (click)="openMapDialog()">
    <mat-icon>edit</mat-icon>
  </button>
</form>

<canvas #mapCanvas id="map-canvas"> </canvas>
