<form id="mapForm" class="flex-row" [formGroup]="formGroup">
  <app-file-input
    label="Region Folder"
    (change)="fileUploadChange($event)"></app-file-input>
  <mat-form-field appearance="outline">
    <mat-label>X Coordinate</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      step="1"
      formControlName="xCoordinate" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Z Coordinate</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      step="1"
      formControlName="zCoordinate" />
  </mat-form-field>
</form>

<canvas #mapCanvas id="map-canvas" width="16" height="16"> </canvas>
