<form id="mapForm" class="flex-row">
  @if (regionFilesProcessed) {
  <app-coord-input
    label="X:"
    name="xCoord"
    [(ngModel)]="xCoord"
    (change)="drawMap()"></app-coord-input>
  <app-coord-input
    label="Z:"
    name="zCoord"
    [(ngModel)]="zCoord"
    (change)="drawMap()"></app-coord-input>

  }
  <span class="spacer"></span>
  <button
    id="editButton"
    matIconButton
    type="button"
    (click)="openMapDialog()"
    matTooltip="Map Settings">
    <mat-icon>settings</mat-icon>
  </button>
</form>

<canvas #mapCanvas id="map-canvas"> </canvas>
