:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapForm {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

#map-canvas {
  width: 75vw;
  height: 75vh;
  image-rendering: pixelated;
}
