<h2 id="dialogTitle" mat-dialog-title>World Info Settings</h2>
<mat-dialog-content id="dialogContent" [formGroup]="formGroup">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Category</mat-label>
    <mat-select formControlName="worldInfoCategory">
      @for (category of worldInfoCategoryOptions; track $index) {
      <mat-option [value]="category.value">{{category.text}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button
    matButton="filled"
    [mat-dialog-close]="getOutputData()"
    [disabled]="formGroup.invalid || !formGroup.dirty">
    Save
  </button>
</mat-dialog-actions>
