html,
body {
  height: 100%;
  margin: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.scrollable {
  overflow: auto;
}

.app-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url("/InspectMC-64.png");
  background-size: cover;
}

.app-logo-large {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url("/InspectMC-128.png");
  background-size: cover;
}
