<h2 id="dialogTitle" mat-dialog-title>About {{appTitle}}</h2>
<mat-dialog-content id="dialogContent">
  <div class="app-logo-large"></div>
  <em>v{{appVersion}}</em>
  <p>
    <strong
      >{{appTitle}} Only Supports <em>Vanilla*</em> Minecraft Java Edition (<em
        >{{supportedMinecraftVersions.min}} -
        {{supportedMinecraftVersions.max}}</em
      >)</strong
    ><br />
    <em>(Sorry Bedrock players)</em>
  </p>

  <p>
    {{appTitle}} is a Minecraft save file inspection tool. The relevant
    Minecraft documentation can be found
    <a target="_blank" href="https://minecraft.wiki/w/Java_Edition_level_format"
      >here</a
    >. The source code can be found
    <a target="_blank" href="https://github.com/Craiglington/Inspect-MC">here</a
    >.
  </p>

  <p>
    To begin, click on the upload icon and select a Minecraft world folder. Use
    the other icons to navigate between different views.
  </p>

  <p>
    Looking for interesting worlds to explore?
    <a target="_blank" href="https://hermitcraft.com/">HermitCraft</a> provides
    a world download at the end of every season.
  </p>

  <p>
    <em
      >*Mods will not break functionality as long as they do not change the way
      data is stored in <code>.dat</code> or <code>.mca</code> files.
      Non-vanilla blocks will not appear on the map.</em
    >
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="filled" mat-dialog-close>Close</button>
</mat-dialog-actions>
