<h2 id="dialogTitle" mat-dialog-title>About {{appTitle}}</h2>
<mat-dialog-content id="dialogContent">
  <div class="app-logo"></div>
  <em>v{{version}}</em>
  <p>
    <strong>{{appTitle}} Only Supports Minecraft Java Edition</strong><br />
    <em>(Sorry Bedrock players)</em>
  </p>

  <p>
    {{appTitle}} is a Minecraft save file inspection tool. The relevant
    Minecraft documentation can be found
    <a target="_blank" href="https://minecraft.wiki/w/Java_Edition_level_format"
      >here</a
    >. The source code can be found
    <a target="_blank" href="https://github.com/Craiglington/Inspect-MC">here</a
    >.
  </p>

  <p>
    Looking for interesting worlds to explore?
    <a target="_blank" href="https://hermitcraft.com/">HermitCraft</a> provides
    a world download at the end of every season.
  </p>

  <p>FAQ</p>
  <ol id="faq-list">
    <li>
      <a href="https://minecraft.wiki/w/.minecraft#Location" target="_blank"
        >Where are world save folders located?</a
      >
    </li>
    <li>
      <a
        href="https://minecraft.wiki/w/Java_Edition_level_format#Directory_structure"
        target="_blank"
        >What is the structure of a save folder?</a
      >
    </li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="filled" mat-dialog-close>Close</button>
</mat-dialog-actions>
